
# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



542f223fd38f9ec4/mmap_address.bin

*.bin

test.cpp
makefile
.vscode/main.o reader.o top10.o graphGen.o


*.json
*.ipch
FlexiSensor/.vs/FlexiSensor/v15/Browse.VC.db
FlexiSensor/.vs/FlexiSensor/v15/.suo
