
# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


.vscode/ipch/5bea61e01f7c090e/mmap_address.bin
.vscode/ipch/7388f036293dee8a/mmap_address.bin
.vscode/ipch/756536d2e7db8216/mmap_address.bin
.vscode/ipch/b0afbe7405a4e933/mmap_address.bin
.vscode/ipch/137455ee0d317e6f/mmap_address.bin
.vscode/ipch/137455ee0d317e6f/Capteur.ipch
.vscode/ipch/34cbf273016fb5ab/mmap_address.bin
.vscode/settings.json
.vscode/ipch/31b52c15ebc20773/mmap_address.bin
.vscode/ipch/7388f036293dee8a/Capteur.ipch
.vscode/ipch/9c775e3badc986ac/Catalogue.ipch
.vscode/ipch/9c775e3badc986ac/mmap_address.bin
.vscode/ipch/d0f70d645d0e37fc/mmap_address.bin
.vscode/ipch/542f223fd38f9ec4/mmap_address.bin
*.bin
