
# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



542f223fd38f9ec4/mmap_address.bin

*.bin

testGL/.vs/testGL/v16/Browse.VC.db
testGL/.vs/testGL/v16/Browse.VC.opendb
testGL/testGL.sln
testGL/testGL/testGL.vcxproj
testGL/testGL/testGL.vcxproj.filters
testGL/testGL/testGL.vcxproj.user
makefile
.vscode/main.o reader.o top10.o graphGen.o


